<div id="upload-wrapper">
    <p>username</p>
    <p><input type="text" name="username" id="username" ng-model="image.username"></p>
    <p>title</p>
    <p><input type="text" name="title" id="title" ng-model="image.title"></p>
    <p>description</p>
    <p><input type="text" name="description" id="description" ng-model="image.description"></p>
    <p><input type="file" id="file-input" ng-model="image.file"></p>
    <p><button ng-click="upload(image)" id="upload">Upload</button></p>
</div>

<div id="image"></div>
